body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(120, 121, 119);

}

.slider {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.5);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    min-width: 100%;
    transition: 0.5s;
   
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.slide-text {
    position: bottom;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(248, 244, 244);
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    margin-left: 50vh ;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.para{
    color: black;
}

.slide-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.slide-text p {
    font-size: 16px;
    line-height: 1.5;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
